*{
    margin: 0px;
    padding: 0px;
}
/*<---navigation bar--->*/
#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  
  #nav_menu li {
    display: block;
    align-items: center;
  }
  
  #nav_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  #nav_menu li a:hover {
    background-color: white;
  }