*{
   box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", "Aria", sans-serif;
  color: #333333;  
}
/*<---navigation bar--->*/
.navbar{
   display: flex;
   justify-content: space-between;
   background-color: #363B3D;;
   text-align: center;
   color: white;
   justify-content: center;
}
.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 20px;
}
.navbar-links li{
  list-style: none;
  
}
.navbar-links li a{
  text-decoration: none;
  color: #9d9d9d;
  padding: 1.3rem;
  display: block;
}
.navbar-links li a:hover{
  color: white;
  cursor: pointer;
}
.logo p a{
  color: #9d9d9d;
  font-size: 22px;
  padding: 1px;
  text-decoration: none;
}
.logo p a:hover{
  color: white;
  cursor: pointer;
}
/* <------#Home#-------->*/
.home-info{
  display: flex;
  margin: 50px;
}
.container_of_logo_img{
  display: flex;
  justify-content: center;
}
.container_of_logo_img img{
  margin: 20px;
  height: 250px;
}
.home-info h1{
  font-size: 36px;
  font-weight: 200;
  margin: 10px 0 15px 0;
  color: inherit; 
  
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}