<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <title>My website</title>
</head>
<body>
   <nav class="navbar">
       <div class="logo">
           <p> 
               <a href="#">The Pallets Projects</a>
           </p>
       </div>
       <div class="navbar-links">
        <ul>
            
            <li>
                <a href="#">Projects</a>
            </li>
            <li>
                <a href="#">Governance</a>
            </li>
            <li>
                <a href="#">People</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#"><strong>Donate</strong></a>
            </li>
        </ul>
       </div>
   </nav> 
   

   {% block content %}
   {% endblock %}

<section class="copyright">
    
</section>

</body>
</html>