<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>The Pallets Projects</title>
    {% endif %}
</head>
<body>
   <nav class="navbar">
       <div class="logo">
           <p> 
               <a href="{{ url_for('home') }}">The Pallets Projects</a>
           </p>
       </div>
       <div class="navbar-links">
        <ul>
            
            <li>
                <a href="{{ url_for('projects') }}">Projects</a>
            </li>
            <li>
                <a href="{{ url_for('governance') }}">Governance</a>
            </li>
            <li>
                <a href="#">People</a>
            </li>
            <li>
                <a href="{{url_for('blog')}}">Blog</a>
            </li>
            <li>
                <a href="#"><strong>Donate</strong></a>
            </li>
        </ul>
       </div>
   </nav> 
   

   {% block content %}
   {% endblock %}

<section class="copyright">
    <div class="copyright-row">
        <div class="copyright-column">
            
        </div>
        <div class="copyright-column">

        </div>
    </div>
</section>

</body>
</html>