{% extends "base.html" %}
{% block content %}

<div class="information_of_blog">
    <div id="row_for_blog">
        {% for post in posts_test.items %}
            <div id="column_for_blog">
                <div class="container_of_each_element_blog">
                    {% autoescape false %}
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content }}</p>

                    {% endautoescape %}
                        
                </div>
            </div>
            <div class="break"></div>
        {% endfor %}
    </div>
</div>








{% endblock %}