{% extends "base.html" %}
{% block content %}
<div id="governance_info">
    <div id="row_info">
        <div class="column_info_1">
            <div class="table">
                <ul>
                    <li>
                        <a href="{{ url_for('governance') }}"><strong>Governance</strong></a>    
                    </li>
                    <div class="hr_for_table"></div>
                    <li>
                        <a  href="#">Code of Conduct</a>
                    </li>
                    <div class="hr_for_table"></div>
                    <li>
                        <a href="#">Licenses and<br>Copyright</a>
                    </li>
                    <div class="hr_for_table"></div>
                    <li>
                        <a href="#">Resources</a>
                    </li>
                    <div class="hr_for_table"></div>
                    <li>
                        <a href="#">Source code</a>
                    </li>
                    <div class="hr_for_table"></div>
                    <li>
                        <a href="#">Structure</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column_info_1">
            <div id="header">
                <h1>Governance</h1>
                <p>
                    The purpose of the Pallets Project is to provide a home for the individual projects so that</br>
                    users have a central place to go to to report bugs, provide patches and get releases. The</br>
                    idea of the Pallets Project is to be an inclusive community around the projects that all live</br>
                    and breathe by the same rules to make the projects less dependent on the original</br>
                    author without compromising the design ideas behind them.
                </p>
            </div>
            <div class="hr_for_header"></div> 
        </div>
        
    </div>
</div>
<div class="table_of_informantion">
    <div class="row_of_information">
        <div class="column_of_information">
            <h3>Code of Conduct</h3>
            <p>
                In the interest of fostering an open and<br> welcoming environment, we as<br> contributors and maintainers pledge to<br> making participation in our project and<br> our community a harassment-free<br> experience for everyone, regardless of<br> age, body size, disability, ethnicity, sex<br> characteristics, gender identity and<br> expression, level of experience,<br> education, socio-economic status,<br> nationality, personal appearance, race,<br> religion, or sexual identity and<br> orientation.
            </p>
        </div>
        <div class="column_of_information">
            <h3>Linceses and Copyright</h3>
            <p>
                How we are handling licenses and<br> copyrights.
            </p>
        </div>
        <div class="break"></div>
        <div class="column_of_information">
            <h3>Resources</h3>
            <p>
                List of all project resources.
            </p>
        </div>
        <div class="column_of_information">
            <h3>Sourcecode</h3>
            <p>
                List of all project resources.
            </p>
        </div>
        
    </div>
</div>





{% endblock %}