{% extends "base.html" %}
{% block content %}
<div id="governance_info">
    <div id="row_info">
        <div id="column_info">
            <h1>Governance</h1>
            <p>
                The purpose of the Pallets Project is to provide a home for the individual projects so that</br>
                users have a central place to go to to report bugs, provide patches and get releases. The</br>
                idea of the Pallets Project is to be an inclusive community around the projects that all live</br>
                and breathe by the same rules to make the projects less dependent on the original</br>
                author without compromising the design ideas behind them.
            </p>
        </div>
    </div>
</div>






{% endblock %}