{% extends "base.html" %}
{% block content %}
<section id="home-content">
    <div class="container_of_logo_img">
        <img src="/static/logo_pic/logo-large.png">
    </div>
    <div class="home-info">
        <div class="row">
            <div class="column">
                <h1 id="intro-title">
                    Welcome to the Pallets Projects!
                </h1>
                <p class="home-paragraph">
                    The Pallets Projects are a collection of Python web development<br> 
                    libraries that were independently developed by Armin Ronacher and<br>  
                    later used as the basis of the Flask microframework. 
                    Today the Pallets<br> Projects are a community-driven organization with 
                    the goal to maintain<br> and improve those libraries.
                </p>
            </div>
        </div>    
    </div>
</section>








{% endblock %}