{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="info_projects">
        <ul>
            <li>
                <a href="#"><strong>Overview</strong></a>
            </li>
            <li>
                <a href="#">Click</a>
            </li>
            <li>
                <a href="#">Flask</a>
            </li>
            <li>
                <a href="#">ItsDangerous</a>
            </li>
            <li>
                <a href="#">Jinja</a>
            </li>
            <li>
                <a href="#">MarkupSafe</a>
            </li>
            <li>
                <a href="#">Werkzeug</a>
            </li>
        </ul>
    </div>
    <h1 id="h1-title">Projects</h1>
    <div id="hr"></div>
    <ul class="project-selector">
        <li>
            <a href="#">Click</a> — Beautiful, composable command line interface creation kit. 
        </li>
        <li>
            <a href="#">Flask</a> — a flexible and popular web development framework 
        </li>
        <li>
            <a href="#">ItsDangerous</a> — Safely pass trusted data to untrusted environments and back. 
        </li>
        <li>
            <a href="#">Jinja</a> — Safely pass trusted data to untrusted environments and back. 
        </li>
        <li>
            <a href="#">MarkupSafe</a> — Safely add untrusted strings to HTML/XML markup. 
        </li>
        <li>
            <a href="#">Werkzeug</a> — The comprehensive WSGI web application library. 
        </li>
    </ul>
</div>








{% endblock %}